/*
Theme styling
- Establish defaults for layouts
- Have custom overrides by class for anything not provided by bootstrap
- Styling overrides on bootstrap components
- Custom brand styling

*/


/* setup defaults for the content*/
body {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

/* define usage of title font */
h1, h2, h3, h4, h5, h6, .btn, button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

/* top level layout block styles */
/* give each top level block some padding */
body > section, body > article, body > aside, body > div, header, footer {
  padding: 3rem 1rem;
}

header {
  padding-top: 0;
}

footer {
  padding-bottom: 1rem;
}

/* content inside top level blocks should be centered and be constrained */
/* Everything should be of type display block by default, no inlining; this ensures centering works */
/* TEMPORARY 
    Define what exactly should be 75rem, since most content will be 44rem instead
    1200px should only apply to other layout tags without content inside
*/
header > *, footer > *, body > section > *, body > article > *, body > div > *, body > aside > *, .container-1200 {
  margin: 0 auto;
  max-width: 75rem;
  display: block;
}

/* TEMPORARY
    44rem will be the default for "content", only layouts will default to 75rem
    See above css rule for more info  
*/
h1, h2, h3, h4, h5, h6, p, .text-width, ul, blockquote {
  max-width: 44rem !important;
}

/* remove additional padding on the asides 
body > aside {
  padding: 3rem 0;
}*/

/* default behaviour for aside sections 
aside > * {
  width: 18rem;
  display: inline-block;
  vertical-align:top;
  padding: 1rem 1rem 1rem 0;
}*/

/* content block separation (spacing between titles, text, images etc) */
/* arbitrary (non-semantic) blocks like divs are not affected by this, div purely for grouping */
/* BUG! aside should only be affected where its children are stacked vertically! */
section > *:not(:first-child), article > *:not(:first-child), aside > *:not(:first-child) {
  margin-top: 1rem;
  margin-bottom: 0;
}

/* sub-sections should have extra spacing within them */
section > section:not(:first-child), div > section:not(:first-child), aside > section:not(:first-child), footer > section:not(:first-child) {
  margin-top: 2rem;
}

body > *:nth-child(even) {
  background-color: #fafafa;
}

img {
  width: 100%;
}

.wrapper {
  /* the col-count property is just for the testing ground, official classes will have fixed value */
  --col-count: 2;
  display: grid;
  grid-gap: var(--gutter);
  /* Weird calculation below words out the width of columns required given the number of columns */
  grid-template-columns: repeat(auto-fit, minmax(calc((1200px - ( var(--gutter) * (var(--col-count) + 1))) / var(--col-count)), 1fr));
}

