.panel.l-grid--item {
	padding: 3rem 3rem;
	&.panel__dark {
		.entry-title a, .entry-excerpt {
			color: #fff;
		}
		
	}
}

.panel {
	@each $name, $color in $light-colors {
		&.bg-#{$name} {
			background-color: #{$color};
		}
	}
	&.wp-block-columns {
		display: flex;
		flex-direction: column;
	}
	*:last-child {
		margin-bottom: 0;
	}
	&.border-grey {
		border: 2px solid $color__light-grey;
	}
}