button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, .8);
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

/*
 * General usage buttons
 * wp-block buttons extend these styles with feedback to interaction
 */
.btn {
	font-family: $font__heading;
	@include font-size(1);
	padding: 0.75rem 1.75rem;
	border: none;
	border-radius: 12px;
	border-radius: 0.75rem;
	text-transform: uppercase;
	@include transition-times;
}

/*
 * Additional classes for specific use cases
 * - Icon only buttons
 * - Icons with both an icon and text
 * - Line type buttons (transparent background in default state)
 * Would advise against using with wp-block buttons
 */
.btn {
	&.btn__icon {
		display: flex;
		align-items: center;
		padding: .5rem .675rem;
		& > * {
			vertical-align: middle;
		}
		& > *:not(:first-child) {
			margin-left: 0.675rem; // add gap between elements inside button
		}
		&.btn__icon-text {
			padding: .5rem .75rem; // slightly increase padding if using text with icon
		}
	}
	&.btn__line {
		border: 2px solid currentColor;
		background-color: transparent;
	}
	&.btn__raised {
		@include setLinkStyleInteractive {
			@include shadowNormal;
			background-color: $color__light-red;
		}
	}
	.btn--text {
		line-height: 1.5rem;
		font-size: 14px;
	}
}