.font-med {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.f-heading {
  font-family: $font__heading;
}

.f-body {
  font-family: $font__main;
}

.f-metasub {
  @include subheading-meta;
}