.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}

	.jetpack-social-widget-item {
		padding-right: 1rem;
	}

	.confit-address {
		padding-bottom: 1rem;
		a {
			color: $color__text-main;
		}
	}
}
