// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Use the heading font

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

// Center items being constrained
@mixin contain-center {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

// Constrain to viewport
@mixin contain-full {
	max-width: 100%;
	grid-column: viewport;
	@include contain-center;
}

// Constrain to 1200px/75rem
@mixin contain-wide {
	max-width: 75rem;
	grid-column: container;
	@supports (display: grid) {
		max-width: 100%;
	}
	@include contain-center;
}

// Constrain to ~700px
@mixin contain-content {
	max-width: 43rem;
	grid-column: content;
	@supports (display: grid) {
		max-width: 100%;
	}
	@include contain-center;
}

// Set style for all pseudo selectors
@mixin setLinkStyleSelectors {
  &:hover, &:link, &:active, &:visited, &:focus {
		@content;
	}
}

// Set style for pseudo selectors that are being interacted with
@mixin setLinkStyleInteractive {
  &:hover, &:active, &:focus {
		@content;
	}
}

// Set style for base anchor and all pseudo selectors 
@mixin setLinkStyle {
  &, &:hover, &:link, &:active, &:visited, &:focus {
		@content;
	}
}

// element shadow mixins
@mixin shadowNormal {
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16), 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
}

@mixin shadowMedium {
	box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.24), 0px 2px 20px 0px rgba(0, 0, 0, 0.12);
}

@mixin shadowHigh {
	box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.24), 0px 2px 40px 0px rgba(0, 0, 0, 0.12);
}

@mixin button-hover-effect {
	@include shadowNormal;
	&:hover, &:focus {
		@include shadowMedium;
		text-decoration: underline;
		transform: translateY(-0.1rem)
	}
	&:active, &:active:focus {
		@include shadowNormal;
		transform: translateY(2px)
	}
}

@mixin transition-times {
	transition-duration: 100ms;
	transition-duration: var(--transition-time, 100ms);
}

@mixin subheading-meta {
	text-transform: uppercase;
	font-family: $font__heading;
	font-weight: 500;
	@include font-size(0.875);
	letter-spacing: 0.08rem;
	padding-bottom: 0.25rem;
	opacity: 0.85;
}

