// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Use the heading font

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

// Center items being constrained
@mixin contain-center {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

// Constrain to viewport
@mixin contain-full {
	max-width: 100%;
	grid-column: viewport;
	@include contain-center;
}

// Constrain to 1200px/75rem
@mixin contain-wide {
	max-width: 75rem;
	grid-column: container;
	@supports (display: grid) {
		max-width: 100%;
	}
	@include contain-center;
}

// Constrain to 720px/45rem
@mixin contain-content {
	max-width: 45rem;
	grid-column: content;
	@supports (display: grid) {
		max-width: 100%;
	}
	@include contain-center;
}

// Set style for all pseudo selectors
@mixin setLinkStyleSelectors {
  &:hover, &:link, &:active, &:visited, &:focus {
		@content;
	}
}

// Set style for pseudo selectors that are being interacted with
@mixin setLinkStyleInteractive {
  &:hover, &:active, &:focus {
		@content;
	}
}

// Set style for base anchor and all pseudo selectors 
@mixin setLinkStyle {
  &, &:hover, &:link, &:active, &:visited, &:focus {
		@content;
	}
}