.site-header {
  justify-content: space-between;
  background: transparent;
}

.navbar-brand {
  padding: 0;
  margin: -.5rem 0;
  .logo {
    max-height: 64px;
    width: auto;
  }
}

.cover-header {
  color: white; 
  display: flex;
  display: grid;
  justify-content: center;
  align-items: center;
  .entry-title {
    padding: 2rem 0;
  }
}

.cover-header__img {
  padding: 4rem 0;
}