// Any styles that directly affect a wp-block element

@each $name, $color in $theme-colors {
	.has-#{$name}-background-color[class*="wp-block"] {
	background-color: #{$color};
	}
	.has-#{$name}-color[class*="wp-block"] {
		color: #{$color};
	}
}

.wp-block-cover-image {
	min-height: 160px;
	.wp-block-cover-image-text {
		padding: 4rem 1rem;
		padding: 12vh 1rem;
		font-family: $font__heading;
		font-weight: 600;
	}
}

p.wp-block-subhead {
	font-size: 125%;
}

.wp-block-image:not(.fixed-width) {
	img {
		margin: 0 auto;
		width: 100%;
	} 
	&.alignfull img {
		width: 100vw;
	}
}

.wp-block-gallery {
	margin-bottom: 1.25rem;
}

.wp-block-preformatted, pre {
	&.text-wrap {
		white-space: pre-wrap;
	}
}

/* hack to allow single-column column blocks like containers */
.wp-block-columns *[class*="layout-column-"] {
	grid-column: auto;
}
.wp-block-columns {
	display: block;
	&.row {
		display: flex;
	}
	&.l-grid {
		display: grid;
	}
}

.wp-block-button {
	margin-bottom: 1.5rem;
	font-weight: 600;
} 

.wp-block-button .wp-block-button__link {
	@extend .btn;
	@include button-hover-effect;
}

