// Any styles that directly affect a wp-block element

@each $name, $color in $theme-colors {
	.has-#{$name}-background-color[class*="wp-block"] {
	background-color: #{$color};
	}
	.has-#{$name}-color[class*="wp-block"] {
		color: #{$color};
	}
}

.wp-block-cover-image {
	
	.wp-block-cover-image-text {
		font-family: $font__heading;
		font-weight: 600;
	}
}

p.wp-block-subhead {
	font-size: 125%;
}

.wp-block-image {
	img {
		margin: 0 auto;
		width: 100%;
	} 
	&.alignfull img {
		width: 100vw;
	}
}

.wp-block-gallery {
	margin-bottom: 1.25rem;
}

.wp-block-preformatted, pre {
	&.text-wrap {
		white-space: pre-wrap;
	}
}

/* hack to allow single-column column blocks like containers */
.wp-block-columns *[class*="layout-column-"] {
	grid-column: auto;
}
.wp-block-columns {
	display: block;
	&.row {
		display: flex;
	}
	&.l-grid {
		display: grid;
	}
}

.wp-block-button {
	margin-bottom: 1.5rem;
} 

.wp-block-button .wp-block-button__link {
	@extend .btn;
	@include shadowNormal;
	// loop for light bg, use a darker color
	&:hover, &:focus {
		@include shadowMedium;
		text-decoration: underline;
		transform: translateY(-0.1rem)
	}
	&:active, &:active:focus {
		@include shadowNormal;
		transform: translateY(2px)
	}
}

