// Any editor styles that are added to the "custom css" attribute of a block

.list-horizontal {
	display: inline-block;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr) ) ;
	&>li {
		padding: 1rem 2rem;
	}
}

.subheading, .stat--figure {
  font-family: $font__heading;
}

.stat {
  text-align: center;
}

.stat--figure {
  font-size: 5rem;
  font-weight: 600;
  color: #107180;
}

.stat--info {
  font-size: 1.125rem;
}

