$color__eou-red: #e54d38;
$color__soft-red: #f2a496;
$color__light-red: #fad1ca;
$color__dark-grey: #282729;
$color__eou-grey: #7b7a7f;
$color__light-grey: #ededed;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-light: $color__light-grey;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: royalblue;
$color__link-hover: $color__eou-red;
$color__text-main: $color__dark-grey;
$color__text-dark: #fff;
$color__interactive: $color__eou-red;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

// name of theme color palette as registered
$theme-colors: (
	evelyn-red: $color__eou-red,
	soft-red: $color__soft-red,
	light-red: $color__light-red,
	dark-grey: $color__dark-grey,
	evelyn-grey: $color__eou-grey,
	light-grey: $color__light-grey,
	white: #fff
);

// 
$light-colors: (
	soft-red: $color__soft-red,
	light-red: $color__light-red,
	light-grey: $color__light-grey,
	white: #fff
);

$dark-colors: (
	evelyn-red: $color__eou-red,
	dark-grey: $color__dark-grey,
	evelyn-grey: $color__eou-grey,
);
