@import "colors";
@import "typography";
@import "structure";
@import "columns";

:root {
  --page-margin: 1.25rem;
  --gutter: 2rem;
  --transition-time: 120ms;
  @media (min-width: $query__md) {
    --page-margin: 1.5rem;
  }
}
