nav {
	font-family: $font__heading;
	font-weight: 600;
	@include font-size(1);
	a {
		@include setLinkStyle {
			color: $color__text-main;
		}
		@include setLinkStyleInteractive {
			color: $color__eou-red;
			text-decoration: underline;
    	text-decoration-color: currentColor;
		}
	} 
	p {
		margin-bottom: 0;
	}
}

// Bootstrap Nav Styles
.navbar .navbar-nav {
	padding: 1rem 0 .5rem;
	.nav-link {
		padding: 1.25rem 1rem;
		@include setLinkStyleInteractive {
			text-decoration: underline;
		}
	}
	.dropdown-menu {
		padding: 1rem 0;
	}
	.dropdown-item {
		padding: 1rem 2rem;
		&:hover, &:focus {
				background-color: $color__light-red;
		}
		&:active, &:active:focus {
			color: $color__text-main;
			background-color: $color__soft-red;
		}
	}
	.navbar-collapse.collapsing , .navbar-collapse.show {
		margin-bottom: 4rem;
	}
	.navbar-toggler {
		border: none;
	}
	@media screen and (min-width: $query__lg) {
		padding: 0 1rem 0 0;
		@include font-size(0.875);
		.nav-link {
			padding: .75rem 1rem;
		}
		.dropdown-menu {
			@include font-size(0.875);
		}
	}
}
@media screen and (min-width: $query__md) {
	.navbar-expand-md .navbar-toggler {
		display: none;
	}
}
@media screen and (min-width: $query__lg) {
	.navbar-expand-lg .navbar-toggler {
		display: none;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
